__pycache__/
*.py[cod]
*$py.class

*.so
*.pyd
*.dll
*.lib
*.exp
*.obj
*.o
*.a

build/
dist/
.mesonpy-*/
*.egg-info/
.eggs/
*.egg

.venv/
venv/
ENV/
env/

.vscode/
.idea/
*.swp
*.swo
.vs/

.DS_Store

test.vpy
dynamic_fgs_test.txt
bench_tmp.vpy
bench_results.json
bench_runner.py

subprojects/*/build*/
.ninja_*
build.bat
/.vsjet
/typings
test.vpy
test.vpy
